In [42]:
import numpy as np

In [43]:
mylist = [1,2,3]

In [44]:
type(mylist)

list

In [45]:
myarray = np.array(mylist) # cast standard array to np array

In [46]:
type(myarray) # type in python

numpy.ndarray

In [47]:
np.arange(0,10,2) # similar to the range keyword. (inclusive, exclusive, step)
# Returns a new numpy array.

array([0, 2, 4, 6, 8])

In [48]:
np.zeros(shape=(5,5)) # create floats for elements by default, shape=(row,col)

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [49]:
np.ones(shape=(2,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [50]:
np.random.seed(101) # set a random seed

In [51]:
arr = np.random.randint(0,100,10) # generate random integer array (inclusive, exclusive, number of elements)

In [52]:
arr2 = np.random.randint(0, 100, 10)

In [53]:
arr.max() # get max value of a np array

95

In [54]:
arr.argmax() # get index of max value in np array

0

In [55]:
arr.mean() # get mean of array

60.8

In [56]:
arr.reshape((2,5)) # reshape array - make sure the number of elements match

array([[95, 11, 81, 70, 63],
       [87, 75,  9, 77, 40]])

In [57]:
mat = np.arange(0,100).reshape(10,10)

In [58]:
mat

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [59]:
row = 9 
col = 4
mat[row,col] # obtain an element in a 2D array (matrix)

94

In [60]:
mat[:,1] # obtain every value in every row, column 1

array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91])

In [61]:
mat[:,1].reshape(1,10) # change to a row
mat[:,1].reshape(10,1) # change to a column

array([[ 1],
       [11],
       [21],
       [31],
       [41],
       [51],
       [61],
       [71],
       [81],
       [91]])

In [62]:
mat[0:3, 0:4] # get rows from 0 to 3 exclusive, get columns from 0 to 4 exclusive

array([[ 0,  1,  2,  3],
       [10, 11, 12, 13],
       [20, 21, 22, 23]])

In [63]:
mynewmat = mat.copy()

In [65]:
mynewmat[0:6,:] = 999 # convert row 0 to 6 exclusive and all the columns in these rows to 999

In [66]:
mat # mat is unaffected

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [68]:
mynewmat

array([[999, 999, 999, 999, 999, 999, 999, 999, 999, 999],
       [999, 999, 999, 999, 999, 999, 999, 999, 999, 999],
       [999, 999, 999, 999, 999, 999, 999, 999, 999, 999],
       [999, 999, 999, 999, 999, 999, 999, 999, 999, 999],
       [999, 999, 999, 999, 999, 999, 999, 999, 999, 999],
       [999, 999, 999, 999, 999, 999, 999, 999, 999, 999],
       [ 60,  61,  62,  63,  64,  65,  66,  67,  68,  69],
       [ 70,  71,  72,  73,  74,  75,  76,  77,  78,  79],
       [ 80,  81,  82,  83,  84,  85,  86,  87,  88,  89],
       [ 90,  91,  92,  93,  94,  95,  96,  97,  98,  99]])